[Unit]
Description=Forward node data metrics to Elasticsearch

[Service]
ExecStart=/root/waggle-metrics/forward-data-metrics
WorkingDirectory=/root/waggle-metrics

Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target
